<figure class="kn-fig">
  <svg viewBox="0 0 620 618" role="img" xmlns="http://www.w3.org/2000/svg">
    <rect x="32" y="12" width="576" height="576" class="kn-surface"/>
    <path d="M32 12 H608" class="kn-grid"/>
    <path d="M32 12 V588" class="kn-grid"/>
    <path d="M32 84 H608" class="kn-grid"/>
    <path d="M104 12 V588" class="kn-grid"/>
    <path d="M32 156 H608" class="kn-grid"/>
    <path d="M176 12 V588" class="kn-grid"/>
    <path d="M32 228 H608" class="kn-grid"/>
    <path d="M248 12 V588" class="kn-grid"/>
    <path d="M32 300 H608" class="kn-grid"/>
    <path d="M320 12 V588" class="kn-grid"/>
    <path d="M32 372 H608" class="kn-grid"/>
    <path d="M392 12 V588" class="kn-grid"/>
    <path d="M32 444 H608" class="kn-grid"/>
    <path d="M464 12 V588" class="kn-grid"/>
    <path d="M32 516 H608" class="kn-grid"/>
    <path d="M536 12 V588" class="kn-grid"/>
    <path d="M32 588 H608" class="kn-grid"/>
    <path d="M608 12 V588" class="kn-grid"/>
    <text x="428" y="60" class="kn-clue" font-size="15">37</text>
    <text x="572" y="60" class="kn-clue" font-size="15">1100</text>
    <text x="284" y="204" class="kn-clue" font-size="15">23</text>
    <text x="428" y="204" class="kn-clue" font-size="15">138</text>
    <text x="68" y="276" class="kn-clue" font-size="15">528</text>
    <text x="140" y="348" class="kn-clue" font-size="15">449</text>
    <text x="356" y="348" class="kn-clue" font-size="15">16</text>
    <text x="140" y="420" class="kn-clue" font-size="15">750</text>
    <text x="284" y="420" class="kn-clue" font-size="15">88</text>
    <text x="428" y="420" class="kn-clue" font-size="15">272</text>
    <text x="500" y="420" class="kn-clue" font-size="15">1</text>
    <text x="68" y="564" class="kn-clue" font-size="15">0</text>
    <path d="M32 516 L104 516" class="kn-region"/>
    <path d="M32 516 L32 588" class="kn-region"/>
    <path d="M32 588 L104 588" class="kn-region"/>
    <path d="M104 444 L104 516" class="kn-region"/>
    <path d="M32 444 L32 516" class="kn-region"/>
    <path d="M104 372 L104 444" class="kn-region"/>
    <path d="M32 372 L32 444" class="kn-region"/>
    <path d="M32 300 L32 372" class="kn-region"/>
    <path d="M104 228 L104 300" class="kn-region"/>
    <path d="M32 228 L104 228" class="kn-region"/>
    <path d="M32 228 L32 300" class="kn-region"/>
    <path d="M104 156 L104 228" class="kn-region"/>
    <path d="M32 156 L32 228" class="kn-region"/>
    <path d="M32 84 L104 84" class="kn-region"/>
    <path d="M32 84 L32 156" class="kn-region"/>
    <path d="M32 12 L104 12" class="kn-region"/>
    <path d="M32 12 L32 84" class="kn-region"/>
    <path d="M104 588 L176 588" class="kn-region"/>
    <path d="M176 444 L176 516" class="kn-region"/>
    <path d="M176 372 L176 444" class="kn-region"/>
    <path d="M104 372 L176 372" class="kn-region"/>
    <path d="M176 300 L176 372" class="kn-region"/>
    <path d="M104 300 L176 300" class="kn-region"/>
    <path d="M176 156 L176 228" class="kn-region"/>
    <path d="M104 156 L176 156" class="kn-region"/>
    <path d="M104 84 L176 84" class="kn-region"/>
    <path d="M104 12 L176 12" class="kn-region"/>
    <path d="M248 516 L248 588" class="kn-region"/>
    <path d="M176 516 L248 516" class="kn-region"/>
    <path d="M176 588 L248 588" class="kn-region"/>
    <path d="M176 444 L248 444" class="kn-region"/>
    <path d="M248 372 L248 444" class="kn-region"/>
    <path d="M248 300 L248 372" class="kn-region"/>
    <path d="M248 228 L248 300" class="kn-region"/>
    <path d="M176 228 L248 228" class="kn-region"/>
    <path d="M248 156 L248 228" class="kn-region"/>
    <path d="M248 84 L248 156" class="kn-region"/>
    <path d="M176 84 L248 84" class="kn-region"/>
    <path d="M176 12 L248 12" class="kn-region"/>
    <path d="M320 516 L320 588" class="kn-region"/>
    <path d="M248 588 L320 588" class="kn-region"/>
    <path d="M320 372 L320 444" class="kn-region"/>
    <path d="M248 372 L320 372" class="kn-region"/>
    <path d="M248 228 L320 228" class="kn-region"/>
    <path d="M248 84 L320 84" class="kn-region"/>
    <path d="M248 12 L320 12" class="kn-region"/>
    <path d="M320 516 L392 516" class="kn-region"/>
    <path d="M320 588 L392 588" class="kn-region"/>
    <path d="M392 444 L392 516" class="kn-region"/>
    <path d="M320 444 L392 444" class="kn-region"/>
    <path d="M320 372 L392 372" class="kn-region"/>
    <path d="M392 300 L392 372" class="kn-region"/>
    <path d="M392 228 L392 300" class="kn-region"/>
    <path d="M320 228 L392 228" class="kn-region"/>
    <path d="M392 84 L392 156" class="kn-region"/>
    <path d="M320 84 L392 84" class="kn-region"/>
    <path d="M392 12 L392 84" class="kn-region"/>
    <path d="M320 12 L392 12" class="kn-region"/>
    <path d="M464 516 L464 588" class="kn-region"/>
    <path d="M392 588 L464 588" class="kn-region"/>
    <path d="M392 444 L464 444" class="kn-region"/>
    <path d="M464 372 L464 444" class="kn-region"/>
    <path d="M464 228 L464 300" class="kn-region"/>
    <path d="M392 228 L464 228" class="kn-region"/>
    <path d="M464 156 L464 228" class="kn-region"/>
    <path d="M392 156 L464 156" class="kn-region"/>
    <path d="M392 84 L464 84" class="kn-region"/>
    <path d="M392 12 L464 12" class="kn-region"/>
    <path d="M464 516 L536 516" class="kn-region"/>
    <path d="M464 588 L536 588" class="kn-region"/>
    <path d="M536 444 L536 516" class="kn-region"/>
    <path d="M536 372 L536 444" class="kn-region"/>
    <path d="M464 372 L536 372" class="kn-region"/>
    <path d="M536 300 L536 372" class="kn-region"/>
    <path d="M464 300 L536 300" class="kn-region"/>
    <path d="M536 156 L536 228" class="kn-region"/>
    <path d="M536 84 L536 156" class="kn-region"/>
    <path d="M464 84 L536 84" class="kn-region"/>
    <path d="M464 12 L536 12" class="kn-region"/>
    <path d="M608 516 L608 588" class="kn-region"/>
    <path d="M536 588 L608 588" class="kn-region"/>
    <path d="M608 444 L608 516" class="kn-region"/>
    <path d="M608 372 L608 444" class="kn-region"/>
    <path d="M608 300 L608 372" class="kn-region"/>
    <path d="M536 300 L608 300" class="kn-region"/>
    <path d="M608 228 L608 300" class="kn-region"/>
    <path d="M536 228 L608 228" class="kn-region"/>
    <path d="M608 156 L608 228" class="kn-region"/>
    <path d="M608 84 L608 156" class="kn-region"/>
    <path d="M608 12 L608 84" class="kn-region"/>
    <path d="M536 12 L608 12" class="kn-region"/>
    <text x="68" y="608" class="kn-axis">0</text>
    <text x="140" y="608" class="kn-axis">1</text>
    <text x="212" y="608" class="kn-axis">2</text>
    <text x="284" y="608" class="kn-axis">3</text>
    <text x="356" y="608" class="kn-axis">4</text>
    <text x="428" y="608" class="kn-axis">5</text>
    <text x="500" y="608" class="kn-axis">6</text>
    <text x="572" y="608" class="kn-axis">7</text>
    <text x="21" y="556" class="kn-axis kn-axis-y">0</text>
    <text x="21" y="484" class="kn-axis kn-axis-y">1</text>
    <text x="21" y="412" class="kn-axis kn-axis-y">2</text>
    <text x="21" y="340" class="kn-axis kn-axis-y">3</text>
    <text x="21" y="268" class="kn-axis kn-axis-y">4</text>
    <text x="21" y="196" class="kn-axis kn-axis-y">5</text>
    <text x="21" y="124" class="kn-axis kn-axis-y">6</text>
    <text x="21" y="52" class="kn-axis kn-axis-y">7</text>
  </svg>
</figure>
