<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Matthew Ritch</title>
    <meta name="twitter:title" content="Matthew Ritch">
    <meta property="og:title" content="Matthew Ritch">
    <meta property="og:title" content="Matthew Ritch">
    <meta property="twitter:title" content="Matthew Ritch">
    <meta property="twitter:card" content="summary">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="cf-2fa-verify" content="0fab03255b86805">
    <meta name="description" content="This is the website of Matthew Ritch.">
    <link rel="shortcut icon" type="image/x-icon" href="https://avatars.githubusercontent.com/u/50339375?v=4">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&amp;display=swap"
        rel="stylesheet" data-optimized-fonts="true">
    <link
        href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&amp;display=swap"
        rel="stylesheet" data-optimized-fonts="true">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&amp;display=swap">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&amp;display=swap">
    <link href="../styles/newstyle.css" rel="stylesheet">
    <link href="../styles/font.css" rel="stylesheet">
</head>

<body style="display:block" class="">
    {{ content }}
</body>


<body style="display:block" class="">
    <div id="__next">
        <div class="flex flex-col md:py-16">
            <div class="flex flex-col flex-grow  md:flex-row">
                <div class="flex flex-row items-center flex-none p-4 gap-2 md:flex-col md:items-start">
                    <p class="text-2xl font-bold">Matthew Ritch</p>
                    <a class="text-black" href="/">About</a>
                    <a class="text-black" href="/projects.html">Projects</a>
                    <a class="text-black" href="/fun.html">Fun</a>
                    <a class="text-black" href="/blog.html">Blog</a>
                </div>
                <div class="flex flex-col flex-grow p-4">
                    {{ content }}
                </div>
            </div>
        </div>
    </div>
</body>


</html>