<div class="lsl-wrap">
  <table class="lsl-table">
    <thead><tr><th>name</th><th>rttyp</th><th>length</th><th>curvature</th></tr></thead>
    <tbody>
      <tr><td>Royal Dr</td><td>M</td><td class="num">0.007</td><td class="num">0E+00</td></tr>
      <tr><td>Burroughs Ave SE</td><td>M</td><td class="num">0.008</td><td class="num">8E-09</td></tr>
      <tr><td>Walker Ave</td><td>M</td><td class="num">0.011</td><td class="num">4E-08</td></tr>
      <tr><td>Woodward Ave SE</td><td>M</td><td class="num">0.017</td><td class="num">1E-07</td></tr>
      <tr><td>Joseph E Boone St</td><td>M</td><td class="num">0.020</td><td class="num">5E-06</td></tr>
      <tr><td>Constitution Rd SE</td><td>M</td><td class="num">0.031</td><td class="num">2E-05</td></tr>
      <tr><td>McAfee Rd</td><td>M</td><td class="num">0.057</td><td class="num">9E-05</td></tr>
      <tr><td>Glenwood Rd</td><td>M</td><td class="num">0.074</td><td class="num">1E-04</td></tr>
      <tr><td>State Rte 260</td><td>S</td><td class="num">0.133</td><td class="num">2E-03</td></tr>
      <tr><td>I- 20</td><td>I</td><td class="num">0.198</td><td class="num">3E-02</td></tr>
      <tr><td>I- 85</td><td>I</td><td class="num">0.414</td><td class="num">2E-01</td></tr>
    </tbody>
  </table>
</div>
