

img { /* img is an inline elem, so there are not margin and spacing values*/
  display: block; /* this makes these blocks behave like block elements*/
  height: auto;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

body {
  width: auto;
  margin: 0 0%;
  padding: 0 10%;
}

a {
  font-weight: bold;
}

.intro-header{
  text-align: center;
  padding: 20px 0px 0px 0px;
}
